<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>University</title>
</head>
<body>
Hello. You're at the {{ name }} index.

<br><br><br>
/student/ - add student <br>
/students/student_id/ - edit or delete student <br>
/students/ - list of students <br><br>

/teacher/ - add teacher <br>
/teachers/teacher_id/ - edit or delete teacher <br>
/teachers/ - list of teachers <br><br>

you can create groups in the admin panel <br>
/students_groups/ - add student to group <br><br>

/admin/ - admin <br>
</body>
</html>