<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit groups</title>
</head>
<body>

Add student to group: <br><br>

<form method="post" action="{% url 'students_groups' %}">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Add">
</form>

<br><br>
List of groups: <br><br>

{% for group in groups_list %}
{{ group.id }}. {{ group.group_name }} <br>
{% endfor %}

<br><br>
List of students: <br><br>

{% for student in students_list %}
{{ student.id }}. {{ student.first_name }} {{ student.last_name }}, age: {{ student.age }}<br>
{% endfor %}

</body>
</html>